{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Add Page</h1>
    <form action="{% url 'new_page' %}" method="post">
        {%csrf_token%}
        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter Title">
        <br/>
        <label>Markdown content:</label>
        <br/>
        <textarea name="content" rows="4" cols="50"></textarea>
        <br/> 
        <input type="submit" value="New page" class="btn btn-primary">

    </form>

{% endblock %}